/* shared style start  */

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}

.text-center{
    text-align: center;
}
.dark-1{
    color:#474747;
}

.dark-2{
    color: #181818;
}

.btn-praimary{
    background-color:#FD6E0A;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding:18px 36px 19px 35px;
    cursor: pointer;
}

main{
    max-width:1400px;
    margin: 0px auto;
}
.secound-bg{
    background-color: #FFF8F3;
    padding:131px 156px;
}

.section-title{
    color:#181818;
    font-size:35px;
    font-weight: bold;
    text-align: center;

}

.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
}
/* shared style end here */

/* nav bar style  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    margin-right: 51px;

}

nav > ul > li > a{
    text-decoration: none;
}

/* nav bar style end  */

.header{
    background-image:url("../images/developer.png"),url("../images/header_bg.png") ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-right: -10px;
    margin-left: -5px;
    background-color: #c49f852c;
}

#hero-area{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.hero-area-content > h3{
    font-size: 45px;
    font-weight: 600px;  
}

.hero-area-content{
    margin-top: 130px;
    max-width: 700px;
}

.hero-area-content > button{
    margin-right: 30px;
}

.hero-area-title{
    font-size: 85px;
    font-weight: bold;
    margin: -10px 0px;

}

.hero-area-btn-cont{
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    padding:18px 36px 19px 35px;
    cursor: pointer;
}


/* hero area start */

/* about section style here */

.about-section{
    margin-top:149px;
}

.about-section-info{
    display: flex;
    justify-content: space-between;
}

.about-section-info div{
    text-align: center;

}

.about-section-info div p{
    font-size:20px;
    font-weight: 400px;
    color: #757575;
}

/* about section style end here */

/* skills section style here */
.skills{
    display: flex;
    gap: 10px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-top: 50px;
}

.skill:hover{
    box-shadow: none;
    transition: 0.2s;
}

.skill-title{
    font-weight: bold;
    font-size: 20px;
}

.skill-description{
    font-weight: 400px;
    font-size: 16px;
    text-align: justify;
}

/* skill section end here */


/* resume style start here */

.my-resume-title{
    font-size: 30px;
    font-weight: bold;
    margin-top:130px;
}

.edu > h3{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.exp > h3{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.eduAndExp-container{
    display: flex;
    gap: 30px;
}

.eduAndExp-title{
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
}
.eduAndExp-sec-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin: 0px;
}

.eduAndExp-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 20px;
}

.edu-div hr{
    margin-bottom: 20px;
}

/* edu and exp style end here */
/* footer section style here */

.footer-section{
    display: flex;
    background-color: #FFF8F3;
    justify-content: space-evenly;
    margin-top: 80px;
    gap: 100px;
    padding: 50px 10px;
}

.footer-section-title{
    font-size: 35px;
    font-weight: bold;
}

.footer-section-description{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 20px;
    
}

.footer-content > a > img{
    width: 40px;
    margin-left: 10px;
    
}

.footer-form-parent{
    display: flex;
    display: block;
}

.footer-form-parent > div{
    margin-bottom:30px;
}

footer input[type="text"], footer input[type="email"], textarea{
    font-size: 16px;
    color: #757575;
    padding: 10px 20px;
    width: 100%;
    border:none;
    border-radius: 10px;
}

/* footer section style end here */